/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    /*background-color: #333;*/
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    /*min-height: 568px;*/
    background-color: #fff;
}

#page-wrapper > div.row {
    margin: 0;
}

.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
    color: #333;
}

.navbar-top-links li a:hover, .nav .open > a:hover,
.navbar-top-links li a:focus, .nav .open > a:focus,
.navbar-top-links li a:active, .nav .open > a:active {
    text-decoration: underline;
    background: none;
}

/********SIDEBAR***********/
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

/**/
#sidebar {
    position: relative;
    height: 336px;
    overflow-y: scroll;
    background-color: #fff;
}

#sidebar-ad-canvas {    
}

#sidebar-ad-canvas h5 {
    margin: 0;
    padding: 2.5px;
}

#sidebar-ad-canvas p {
    padding: 15px;
    margin-bottom: 0;
}

#sidebar-ad-canvas a {
    color: #333;
    text-decoration: underline;
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

/*******************************/
#app-wrap {
    position: relative;
    width: 100%;
}

#app-notify {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    margin-top: 20px;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.tab-pane {
    padding: 20px 0;
}

.navbar.navbar-default.navbar-static-top {
    background-color: #fad23e;
}

.navbar-default.sidebar {
    background-color: none;
}

#bookmark-details-name,
#location-details-name {
    margin-top: 20px;
}

.schedule-keys {
    margin-bottom: 20px; 
}
.schedule-keys h4 {
    display: inline-block;
}

.schedule-keys .blue-box{
    border: 5px solid #3a87ad;
    background-color: #3a87ad;
    color: #fff;
}

.schedule-keys .yellow-box{
    border: 5px solid #fad23e;
    background-color: #fad23e;
    color: #333;
}

.fc-center h2 {
    font-size: 20px;
}

.form-control:focus {
    border-color: #fad23e;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(250,210,62);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(250,210,62);
}

.dropdown-menu li {
    display: block;
}

.navbar-header {
    width: 100%;
}
.navbar-header .navbar-toggle {
    float: left;
    margin-left: 15px;
    margin: 5px 0 5px 15px;
}

.welcome {
    margin : 20px;
    height: 566px;
}
.welcome .row .col-lg-4 {
    padding-right: 10px;
    padding-left: 10px;
}
.welcome-form-panel {
    margin-top: 25%;
}
.welcome p {
    font-size: 25px;
}
.welcome-timer {
    margin-top: 38px; 
    /*padding: 0 15px; */
    text-align: right;
}
.welcome-page-header {
    font-size: 30px;
    font-weight: bold;
}

@media(max-width:768px) {
    .welcome-timer {
        text-align: center;
    }
    .welcome-page-header {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    .welcome p {
        font-size: 20px;
    }
}

.ad-canvas {
    height: 170px;
    text-align: center;
}

/*
#loading-page-overlay {
    height: 100%;
    width: 100%;
    background-image: url('../img/loader.gif');
}
*/
#loading-page-overlay {
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: absolute;
    margin: -15px;
}

#loading-page-overlay h3 {
   position: absolute;
   left: 40%;
   top: 40%;
   color: #908989;
}

#loading-page-overlay > .spinner {
   position: absolute;
   left: 45%;
   top: 30%;
   height:60px;
   width:60px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid #f4fa3d;
   border-right:6px solid #f4fa3d;
   border-bottom:6px solid #f4fa3d;
   border-top:6px solid #fad23e;
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}



@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 300px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }

    .sidebar {
        z-index: 1;
        position: absolute;
        width: 300px;
        /*margin-top: 51px;*/
    }

    .navbar-top-links .dropdown-menu li {
        width: 100%;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }

    #loading-page-overlay {
        margin-left: -331px;
    }

    #loading-page-overlay h3 {
       left: 45%;
    }

    #loading-page-overlay > .spinner {
        left: 48%;
    }
}