/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #5e5e5e;
    background-size: cover;
    height: 100%;
    margin-bottom: -75px;
}

#app {
    padding-top: 30px;
    margin: 0 auto;
}

#navbar-search-container .form-group {
    margin: 8px auto;
}

/** Full Calendar overrides **/
.fc-toolbar h2 {
    color: #5e5e5e;
}

footer {
    padding: 20px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}