<!-- Bookmark details form template -->
<span class="input-append">

                <span class="add-on pull-right">
                    <button type="button" class="btn btn-info btn-circle save-bookmark-edit"
                        data-toggle="tooltip" title="Save your changes" data-placement="left"
                        >
                        <i class="fa fa-check"></i>
                    </button>
                </span>

                <% if ( errorMessages.name ) { %>
                    <span><%= errorMessages.name %></span>
                <% } %>
                <input class="form-control" name="name" id="bookmark-form-name" value="<%= bookmark.get('name') %>"
                    type="text" style="width: 90%; display: inline-block"
                    placeholder="How do you want to remember this location?" 
                    data-constraints="@Required"
                    autofocus>


</span>