<!-- Change password form -->
<div class="row" id="welcome-wrap" style="min-height:100%; margin-bottom: -30px;">
                <div class="col-lg-offset-1 col-lg-4">

                    <h3 class="page-header" style="font-size: 30px; font-weight: bold;">An account lets you:</h3>
                    <p style="font-size: 20px;">
                        Save locations for future references on any computer, tablet or phone.
                    </p>

                </div>

                <div class="col-lg-offset-1 col-lg-4">

                    <div class="welcome-form-panel">
                        <% console.log(errorMessages); %>
                        <!-- If messages are returned display them about form -->
                        <% if ( errorMessages.length > 0 ) { %>
                            <% _.each(errorMessages, function( message ) { %>

                                <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <%= message %>
                                </div>

                            <% }); %>
                        <% } %>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Change your password</h3>
                            </div>
                            <div class="panel-body">
                                <form role="form" id="password-change-form">
                                    <fieldset>

                                        <div class="form-group">
                                            <% if ( errorMessages.currentPassword ) { %>
                                                <span><%= errorMessages.currentPassword %></span>
                                            <% } %>
                                            <input class="form-control" id="password-change-form-current" 
                                                placeholder="Current Password" type="password" value=""
                                                name="current-password"
                                                data-constraints="@Required"
                                                >
                                        </div>

                                        <div class="form-group">
                                            <% if ( errorMessages.newPassword ) { %>
                                                <span><%= errorMessages.newPassword %></span>
                                            <% } %>
                                            <input class="form-control" id="password-change-form-new-password" placeholder="New Password" type="password" value=""
                                                name="new-password" data-constraints="@Required" >
                                        </div>

                                        <div class="form-group">
                                            <% if ( errorMessages.newPasswordRepeat ) { %>
                                                <span><%= errorMessages.newPasswordRepeat %></span>
                                            <% } %>
                                            <input class="form-control" id="password-change-form-new-password-repeat" placeholder="New Password (Repeat)" type="password"
                                                value="" name="new-password-repeat"
                                                data-constraints="@Required"
                                                >
                                        </div>

                                        <button type="button" id="password-change-form-submit" class="btn btn-lg btn-success btn-block"> Change Password
                                        </button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

<div class="row" id="welcome-footer" style="height: 30px;">
    <div class="col-lg-12" style="text-align: center;">
        
        <ul class="nav nav-pills" style="display: inline-block;">
            <li>
                <a href="http://about.dumadapt.com/" target="_blank">About</a>
            </li>
            <li>
                <a href="http://help.dumadapt.com/" target="_blank">Help</a>
            </li>
            <li>
                <a href="http://about.dumadapt.com/privacy" target="_blank">Privacy</a>
            </li>
            <li>
                <a href="http://about.dumadapt.com/terms" target="_blank">Terms</a>
            </li>
            <li>
                <a href="http://davidlartey.com/about" target="_blank">2015 &copy; David Lartey</a>
            </li>
        </ul>

    </div>
</div>