<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="border-color: #333;">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-search"></span>
                    </button>
                    <a class="navbar-brand" href="#/" style="background-image: url('img/adapt.png'); 
                        background-repeat: no-repeat;
                        background-position: 20px 10px;
                        min-width: 120px;
                        background-size: initial;">
                        <!-- <img src="img/adapt.png" /> -->
                    </a>

                    <ul class="nav navbar-top-links navbar-right pull-right" style="margin-right: 0px;">
                        <%  if (session.get("logged_in") == false && session.user.id == 0) {  %>
                            
                            <li>
                                <a href="#/login">Login</a>
                            </li>
                            <li>
                                <a href="#/join">Create Account</a>
                            </li>

                        <% } else { %>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <%= session.user.getFullName() %>
                                </a>

                                <ul class="dropdown-menu">
                                    <!--
                                    <li>
                                        <a href="#">Profile</a>
                                    </li>
                                    -->
                                    <li>
                                        <a href="#/change-password">Change Password</a>
                                    </li>
                                    <li>
                                        <a href="#/recover-password">Recover Password</a>
                                    </li>
                                    <li>
                                        <a href="#" id="user-session-logout">Logout</a>
                                    </li>
                                    <li>
                                        <a href="#/delete-account">Delete Account</a>
                                    </li>
                                </ul>
                            </li>

                        <% } %>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h fa-lg"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="http://help.dumadapt.com" target="_blank">
                                        Help
                                    </a>
                                </li>
                                <li>
                                    <a href="http://about.dumadapt.com" target="_blank">
                                        About
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <!-- /.navbar-header -->


</nav>