<!-- Locations List  -->
<% if ( locations.length == 0 ) { %>

                <li class="disabled">
                    <a href="#">Loading Locations ... </a>
                </li>

            <% } else { %>

                <!-- All Locations -->
                <li>
                    <a href="#"> All Locations <span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">

                        <% _.each(locations, function( location ){ %>

                            <li>
                                <a href='#/location/<%= location.get("id") %>'>
                                    <%= location.get("name") %>
                                </a>
                            </li>

                        <% }); %>

                    </ul>
                </li>

                <!-- Regions -->
                <% _.each(regions, function( region ) { %>

                    <li>
                        <a href="#"> <%= region.region.region %> <span class="fa arrow"></span> </a>
                            
                        <ul class="nav nav-second-level">
                            
                            <% if (region.regionLocations.length > 0) { %>
                                <% _.each(region.regionLocations, function( location ){ %>
                                        
                                    <li>
                                        <a href='#/location/<%= location.id %>'>
                                            <%= location.name %>
                                        </a>
                                    </li>

                                <% }); %>
                            <% } %>
                            
                        </ul>
                    </li>
                <% }); %>

<% } %>