<!-- Regions locations filter template -->
<li>
                        <a href="#"> <%= region.region.region %> <span class="fa arrow"></span> </a>
                            
                        <ul class="nav nav-second-level">
                            
                            <% if (region.regionLocations.length > 0) { %>
                                <% _.each(region.regionLocations, function( location ){ %>
                                        
                                    <li>
                                        <a href='#/location/<%= location.id %>'>
                                            <%= location.name %>
                                        </a>
                                    </li>

                                <% }); %>
                            <% } %>
                            
                        </ul>
</li>