<!-- Location -->
<div>
    <h2 id="location-details-name" class="page-header">
        <%= location.name %>

        <span class="pull-right">
            <button type="button" class="btn btn-info btn-circle save-location" data-toggle="tooltip"
                title="Save this location." data-placement="left">
                <i class="fa fa-check"></i>
            </button>
        </span>
    </h2>

    <div class="schedule-keys">
        <h4>
            <span class="blue-box"> Times you will have lights</span>
        </h4>
        <h4>
            <span class="yellow-box"> Times you might have light depending on the quantum of power to be shed</span>
        </h4>
    </div>

    <div id="location-schedule"> </div>

    <div class="modal fade" id="save-location-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Save <%= location.name %></h4>
                </div>
                <div class="modal-body">
                    <%  if (session.get("logged_in") == false && session.user.id == 0) {  %>

                        <h4 class="text-danger">You have to be logged in to save a location.</h4>

                    <% } else { %>

                        <p>How do you want to remember this location?</p>

                        <input class="form-control" name="name" id="save-location-form-name" value="<%= location.name %>"
                        type="text"
                        placeholder="How do you want to remember this location?" 
                        data-constraints="@Required"
                        autofocus>

                    <% } %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-location-modal-btn">Save Location</button>
                </div>
            </div>
        </div>
    </div>

</div>
