<!-- All locations without filter template -->
<% if ( locations.length == 0 ) { %>

                <li class="disabled">
                    <a href="#">No Location </a>
                </li>

            <% } else { %>

                <li>

                    <a href="#"> All Locations <span class="fa arrow"></span> </a>
                                
                    <ul class="nav nav-second-level">

                        <% _.each(locations, function( location ){ %>
                            <li>
                                <a href='#/location/<%= location.get("id") %>'>
                                    <%= location.get("name") %>
                                </a>
                            </li>
                        <% }); %>

                    </ul>
                
                </li>

<% } %>