<!-- Login form -->
<div class="row" id="welcome-wrap" style="min-height:100%; margin-bottom: -60px;">
                <div class="col-lg-offset-1 col-lg-4">

                    <h3 class="page-header" style="font-size: 30px; font-weight: bold;">An account lets you:</h3>
                    <p style="font-size: 20px;">
                        Save locations for future references on any computer, tablet or phone.
                    </p>

                </div>

                <div class="col-lg-offset-1 col-lg-4">

                    <div class="welcome-form-panel">
                        <!-- If messages are returned display them about form -->
                        <% console.log(errorMessages); %>
                        <% if ( errorMessages.length > 0 ) { %>
                            <% _.each(errorMessages, function( message ) { %>

                                <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <%= message %>
                                </div>

                            <% }); %>
                        <% } %>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Login</h3>
                            </div>
                            <div class="panel-body">
                                <form role="form" id="login-form">
                                    <fieldset>

                                        <div class="form-group">
                                            <% if ( errorMessages.email ) { %>
                                                <span><%= errorMessages.email %></span>
                                            <% } %>
                                            <input class="form-control" id="login-form-email" 
                                                placeholder="E-mail" name="email" type="email"
                                                value="<%= formValues.email %>"
                                                data-constraints="@Required @Email"
                                                autofocus >
                                        </div>

                                        <div class="form-group">
                                            <% if ( errorMessages.password ) { %>
                                                <span><%= errorMessages.password %></span>
                                            <% } %>
                                            <input class="form-control" id="login-form-password" placeholder="Password" name="password" type="password" value=""
                                                data-constraints="@Required">
                                        </div>

                                        <!--
                                        <div class="checkbox">
                                            <label>
                                                <input name="remember" id="login-form-remember" 
                                                    type="checkbox" value="Remember Me"> Remember Me
                                            </label>
                                        </div>
                                        -->

                                        <div class="form-group">
                                            <a href="#/recover-password">Forgotten password?</a>
                                        </div>

                                        <button type="button" id="login-form-submit" class="btn btn-lg btn-success btn-block">Login
                                        </button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <div style="height: 60px; display: block;"></div>
            </div>

<div class="row" id="welcome-footer" style="height: 30px; padding-top: 30px;">
    <div class="col-lg-12" style="text-align: center;">
        
        <ul class="nav nav-pills" style="display: inline-block;">
            <li>
                <a href="http://about.dumadapt.com/" target="_blank">About</a>
            </li>
            <li>
                <a href="http://help.dumadapt.com/" target="_blank">Help</a>
            </li>
            <li>
                <a href="http://about.dumadapt.com/privacy" target="_blank">Privacy</a>
            </li>
            <li>
                <a href="http://about.dumadapt.com/terms" target="_blank">Terms</a>
            </li>
            <li>
                <a href="http://davidlartey.com/about" target="_blank">2015 &copy; David Lartey</a>
            </li>
        </ul>

    </div>
</div>