<!-- Notify template -->
<div class="alert alert-info alert-dismissable">

                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <%= notify.message %>

</div>